@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'aura-bella';
	src: url('/font/aura-bella.ttf');
}

@layer utilities {
	.aura-bella {
		font-family: 'aura-bella';
	}
	.navbar {
		@apply w-full absolute md:fixed  top-0 bg-primary-dark  z-50;
	}

	.shadow-div {
		@apply absolute content-['']  left-0 right-0 bottom-0 bg-gradient-to-t from-black/30 to-transparent rounded-2xl;
	}
	.shadow-light {
		@apply !from-accent-light rounded-2xl;
	}
}

.end_dot li {
	text-align: right;
	position: relative;
	padding: 0 10px 0 0;
}

.end_dot li::after {
	content: '';
	position: absolute;
	right: -10px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background-color: #0b826f;
	border-radius: 50%;
}

.custom-table,
.custom-table table,
.custom-table table tr {
	width: 100%;
}

.custom-table {
	border: 1px rgb(0, 0, 0) solid;
	padding: 1rem;
	border-radius: 1rem;
}

.custom-table table tr {
	border-bottom: 1px rgb(167, 167, 167) solid;
}

.custom-table table td {
	width: 50%;
}

.custom-table table td:last-child {
	text-align: right;
	font-weight: 500;
}

.custom-table table td > div {
	padding: 0.25rem 0;
}
